{{define "all"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <link href="/static/output.css" rel="stylesheet"/>
  </head>
  <body>
    <h1>Hello from {{.ProjectName}}!</h1>
    {{template "thing" .}}
  </body>  
</html>
{{end}}

{{define "thing"}}
<div class="">
  This is a thing
</div>
{{end}}
