{{define "all"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <script src="/static/tailwind.js"></script>
  </head>
  <body>
    <h1>Hello from {{.ProjectName}}!</h1>
  </body>  
</html>
{{end}}
